*/config.py
config.py
outputs/*
outputs/
*/outputs/
*/outputs/*
.DS_Store
*/.DS_Store
*/.DS_Store/*
.DS_Store/*
*/__pycache__/
__pycache__/
*/__pycache__/*
__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.json
*.log
*.jsonl
